parameters:
	ignoreErrors:
		-
			message: "#^Property App\\\\Entity\\\\TblProductData\\:\\:\\$stmTimestamp is never written, only read\\.$#"
			count: 1
			path: src/Entity/TblProductData.php

		-
			message: "#^Method App\\\\Tests\\\\Services\\\\Currency\\\\FreeCurrencyApiTest\\:\\:extractRateProvider\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: tests/Services/Currency/FreeCurrencyApiTest.php

