includes:
    - phpstan-baseline.neon
parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
    checkGenericClassInNonGenericObjectType: false
